[class*="fallback__"] {
	width: fit-content;
	margin: auto;
	margin-top: 100px;
}
[class*="fallback__"] h1.MuiTypography-root {
	font-size: var(--env-var-font-size-large);
	font-weight: 600;
}
[class*="fallback__"] button.MuiButtonBase-root,
[class*="fallback__"] .check {
	width: max-content;
}
[class*="fallback__"] button.MuiButtonBase-root {
	min-height: 34px;
}
[class*="fallback__"] .check span.MuiTypography-root,
[class*="fallback__"] button.MuiButtonBase-root {
	font-size: var(--env-var-font-size-medium);
}

[class*="fallback__"] .background-pattern-svg {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 0;

	width: 100%;
	max-width: 800px;
	height: 100%;
	max-height: 800px;

	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.fallback__status > .MuiStack-root {
	margin-left: var(--env-var-spacing-2);
}
